/* Common Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap'); 


.cabecera2{
    display: flex;
    background-color: aquamarine;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }

/* General Common Styles */

* {
   /* margin: 0;*/
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font: normal 16px sans-serif;
    font-family: 'Inter', sans-serif;
    color: #555;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}
/*
a.botones {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
  }
*/
a.btn {
    color: #fff;
    border-radius: 37px;
    background-color: #2D9731;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size:large;
    font-weight: 300;
    padding: 10px;
    margin-right: 30px;
}

a.btn2 {
    color: #2D9731;
    border:  3px solid #2D9731;
    background-color: transparent;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 7px;
    font-weight: regular;
    padding: 10px 20px;
    border-radius: 37px; /* Redondea las esquinas del botón */
    margin-right: 80px;
    font-size: large;
    font-family: 'Inter', sans-serif;
}
hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}


/* Section Common Styles */

section {
    display: flex;
 /*   flex-direction: column;   ESTO HARA QUE SE CENTRE*/
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1200px) {

    a.btn2 {
        display: block; /* Cambiar a bloque para que se muestre debajo */
        margin-top: 25px; /* Agregar espacio superior para separación */
        padding: 10px 20px; /* Mantén el ancho y el alto del botón igual al btn1 */
        margin-right: 0; /* Eliminar el margen derecho para ocupar el ancho completo */
      
        font-size: smaller; /* Tamaño de fuente igual al btn1 */
        
    }
    a.btn {
        display: block; /* Cambiar a bloque para que se muestre debajo */
        margin-top: 25px; /* Agregar espacio superior para separación */
        padding: 10px 20px; /* Mantén el ancho y el alto del botón igual al btn1 */
        margin-right: 0; /* Eliminar el margen derecho para ocupar el ancho completo */
      
        font-size: smaller; /* Tamaño de fuente igual al btn1 */
      
    }
    

}





@media (max-width: 1000px) {

    section {
        padding: 100px 50px;
    }

}

@media (max-width: 600px) {

    section {
        padding: 80px 30px;
    }

}

section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}


ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Header Section */


header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 20px;
}

header button{
    padding: 15px 10px 15px 10px;
    margin-right: 3%;
    background-color: #2D9731;
    border-radius: 8px;
    border:none;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: regular;
    color: #fff;
    float: right;
}

header:hover{
    opacity: 1;
}
h2 {
    font-size: 1.5em;
    font-weight: 500;
}

header h2 {
    font-family: 'Inter', sans-serif;
}
header .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
    margin-bottom: 0;
}
header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}


header .botonesDescargaHeader{
    margin-left: 20px;
    display: flex;
}

header .botonesDescargaHeader a{
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-left: 20px;
color: #2D9731;
    border-radius: 0%;
    border:none;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: regular;
    text-align: center;
    background-color: #fff;
 
}

header .botonesDescargaHeader a img{
    height:30px;
    width:30px;
   
}


@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {


    header h2 {
        margin-bottom: 15px;
        font-size: 1.5em;
    }
    
       header a.btn {
        display: none;
   }

 
   header .botonesDescargaHeader {
    display: flex; /* Mostrar el botón */
    /* Define tus estilos específicos para cuando la pantalla sea menor de 700px */
}

  /* Estilos para pantallas más pequeñas (máximo 991px) */
  

  

}
@media (min-width: 701px) {
    header .botonesDescargaHeader{
        display: none; /* Ocultar el botón */
    }
}
/* Main Sectio
/* Hero Section */

.hero {
    position: relative;
    min-height: 10vh;
    color: #fff;

 /*   text-align: center;*/
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    
}

.hero hgroup{
    width: 50vw;  /* PARA EL TAMAÑO DE LA LETRA EN LINEAS*/
    max-width: 1500px;  
    text-align: left; 
}
/*
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
padding: 35px 100px 20px;
*/
.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2D9731;
    z-index: -1;
    margin-bottom: 0;
}



.hero .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 30%;
}

.hero h1 {
    font: regular 60px;
    font-family: 'Inter', sans-serif;
 /*  Alinea el texto a la izquierda */
   /*  max-width: 600px;*/
    /* font-size: 5em; */
    font-size: 3em;
   
}

.hero h3 {
    font: normal 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 2em;
    margin-bottom: 60px;
}

.hero a .btn {
    padding: 20px 46px;
    margin-bottom: 40px;
   
}

.hero a .btn2 {
    padding: 20px 46px;
    margin-bottom: 40px;

}

@media (max-width: 800px) {

    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
        font-family: 'Inter', sans-serif;
    }

    .hero h3 {
        font-size: 24px;
        font-family: 'Inter', sans-serif;
    }

    .hero a .btn {
        padding: 15px 40px;
    }
    .hero a .btn2 {
        padding: 15px 40px;
    }

}

@media (max-width: 1200px) {


    .hero hgroup{
        width: 45%;  /* PARA EL TAMAÑO DE LA LETRA EN LINEAS*/
        text-align: left; 
    }

}

@media (max-width: 700px) {


    .hero hgroup{
      /* PARA EL TAMAÑO DE LA LETRA EN LINEAS*/
      width: 100vw; 
        text-align: center; 
    }

}

/* Our Work Section */

.оur-work {
    background-color: #fff;
}

.our-work .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.our-work .grid li.small {
    flex-basis: 40%;
}

.our-work .grid li.large {
    flex-basis: 60%;
}


@media (max-width: 1000px) {

    .our-work .grid li.small,
    .our-work .grid li.large {
        flex-basis: 100%;
    }

}



/* Descubre section styling */

.descubre{
    padding-top: 30px;
    padding-bottom: 30px;
}

.descubre-descubre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
    margin: 0;
}

.descubre-text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #2D9731;
}

.descubre-carditem4,
.descubre-carditem41,
.descubre-carditem42,
.descubre-carditem43 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.descubre-icncirclecirclemdprimarycolor,
.descubre-icncirclecirclemdprimarycolor1,
.descubre-icncirclecirclemdprimarycolor2,
.descubre-icncirclecirclemdprimarycolor3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2d9731
;
    margin-right: 20px;
}

.descubre-grommeticonsmoney,
.descubre-gameiconsclassicalknowledge,
.descubre-mdiroutes,
.descubre-icomoonfreecompass {
    width: 40px;
    height: 40px;
}

.descubre-div,
.descubre-div1,
.descubre-div2,
.descubre-div3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.descubre-text02,
.descubre-text08,
.descubre-text14,
.descubre-text20 {
    font-size: 18px;
    font-weight: bold;
}

.descubre-text03,
.descubre-text09,
.descubre-text15,
.descubre-text21 {
    margin-bottom: 10px;
}

.primeraFila,.segundaFila{
    display:flex;
}

@media (max-width: 1000px) {
    .primeraFila,.segundaFila{
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
}

/* Seccion Aliados */

.aliados{
    padding: 50px 0px;
    background-color: #f7f7f7;
    color: #2D9731;
    display: block;
    text-align: center;
}

.aliados h2{
    font-weight: bold;
}

.espacioAliados{
    display: flex;
    margin-top:30px;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 10%;
    padding-right: 10%;
}

.cardAliado{
    border:none;
    border-radius: 5%;
    height:250px;
    width:30%;
    
    position:relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.textoCardAliado{
    position:absolute;

    bottom:0;
    left:0;
    border:none;
    color: #fff;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    width:100%;
    height:40px;
    font-weight: regular;
    font-family: 'Inter', sans-serif;
}

.blurCard{
    position:absolute;
    bottom:40px;
    width:100%;
    height:40px;
    background-image: linear-gradient(to top, #000, transparent);
}

.textoCardAliado h3{
    position: absolute;
    bottom: 0px;
    left: 15px;
}

.restaurantes{
    background-image: url("../images/pictures/restaurantes.png");
}

.restaurantes .textoCardAliado{
    background-image: linear-gradient(to top, #885406, #000);
}

.hospedajes .textoCardAliado{
    background-image: linear-gradient(to top, #2D9197, #000);
}

.tours .textoCardAliado{
    background-image: linear-gradient(to top, #2D9731, #000);
}

.hospedajes{
    background-image: url("../images/pictures/hospedajes.png");
}

.tours{
    background-image: url("../images/pictures/tours.png");
}

@media (max-width: 1000px) {

    .espacioAliados {
        flex-direction: column;
    }

    .cardAliado {
        width: 100%;
        height: 200px;
        margin-top:20px;
    }

}

/* Services Section */

.services {
    background-color: #f7f7f7;
}

.services .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.services .grid li i {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    color: #2196F3;
    margin-bottom: 25px;
}

.services .grid li h4 {
    color: #555;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
}

.services .grid li p {
    margin: 0;
}

@media (max-width: 1000px) {

    .services .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }

    .services .grid li:last-child {
        margin-bottom: 0;
    }

}

@media (max-width: 600px) {

    .services .grid li {
        flex-basis: 100%;
    }

}

/* Reviews Section */

.reviews {
    background-color: #fff;
}

.reviews .quote {
    text-align: center;
    width: 80vw;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child {
    margin-bottom: 0;
}

@media (max-width: 1000px) {

    .reviews .quote {
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }

    .reviews .author {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }

}

/* Contact Section */

.contact {
    background-color: #f7f7f7;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    width: 80%;
}

.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #555;
}

.contact form .btn {
    padding: 18px 42px;
}


@media (max-width: 800px) {

    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }

}


/* Footer Section */

footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
    color: #fff;
    background-color: #2D9731;
    padding: 60px 10%;
    padding-left: 10%;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

footer ul li {
    margin: 0 8px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer p a {
    color: #fff;
}

.contactos {
    text-align: left;
}

footer h3{
    margin-bottom: 10px;
}

@media (max-width: 1000px) {

    footer {
        flex-direction: column;
    }

    .contactos{
        margin-top: 20px;
        text-align: center;
    }

}

.botonesDescarga{
    margin-top: 10px;
}

.botonesDescarga a{
    padding: 10px 10px 10px 10px;
    margin-right: 3%;
color: #2D9731;
    border-radius: 0%;
    border:none;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: regular;
    text-align: center;
    background-color: #fff;
    z-index: 10;
}

.botonesDescarga a img{
    height:20px;
    width:30px;
    padding-right: 10px;
}

.iconosRedes{
    justify-items: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
}

.infoContacto{
    margin-bottom: 5px;
}

.infoContacto img{
    margin-right: 5px;
}

.iconosRedes a{
    height:30px;
    width:30px;
    background-color: #fff;
    border-radius: 0;
    border:none;
    align-items: center;
    margin-right: 5px;
    position: relative;
}

.iconosRedes a img{
    height:20px;
    width:20px;
    position: absolute;
    bottom:5px;
    left:5px;
}

.descargaApp{
    align-self: center;
}

@media (max-width: 1000px){
    .iconosRedes{
        justify-content: center;
    }
}

/* TOS Section */

.tos {
    background-color: #f7f7f7;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    align-items: stretch;
    line-height: 2;
    padding-left:20px;
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.mainTos hgroup{
    display: flex;
}

.mainTos a{
    padding:0px 5px 0px 5px;
    color: #2D9731;
}

@media (max-width: 800px) {
    .tos,.mainTos hgroup {
        flex-direction: column;
    }
}